<!DOCTYPE html>
<html>
    <head>
      <title>Playgrounds</title>
      <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,700' %>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>

        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span12"><h1>gmaps4rails demo</h1></div>
            </div>

            <div class="row-fluid">
                <div class="span9">
                    <%= yield %>           
                </div>
            
                <div class="span3"> 
                    
                    <div id="contextual-panel">
                        <%= yield :contextual %>
                    </div>
                    
                    <p> 
                        &copy; 2013 bytefilia | 
                        back to <a href="http://bytefilia.com" target="_blank">the blog</a> | 
                        <a href="mailto:bytefilia@gmail.com" target="_blank">contact me</a>
                    </p> 
                
                    <p>Review the <a href="https://bitbucket.org/juanseph/bytefilia/src" target="_blank"> full code for playgrounds</a></p>
                </div>
            </div>
        </div>

        <%= yield :scripts %>

    </body>
</html>
