<!DOCTYPE html>
<html>
    <head>
      <title>Playgrounds</title>
      <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,700' %>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>

        <div class="container-fluid">

            <div class="row-fluid">
            
            </div>

            <div class="row-fluid">
                <div class="span9">
                    <%= yield %>           
                </div>
            
                <div class="span3"> 
                    
                    <div id="contextual-panel">
                        <%= yield :contextual %>
                    </div>
               
                </div>
            </div>
        </div>

        <%= yield :scripts %>

    </body>
</html>
